.trending-movies-div-3-posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
}
.trending-movies-div-4-posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
}

.trending-movies-div-2-posters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
}

.trending-movies-div-1-poster {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

.trending-movies-poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending-movies-poster-img:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
